In [1]:
import pandas as pd
import numpy as np

# 1. 2014년 6월 서울시장

In [3]:
dfs_2014 = pd.read_csv('./seoul_2014.csv')

In [4]:
dfs_2014.head()

            조사기관            조사의뢰      조사시작       조사끝    표본크기   박원순   정몽준   무응답
0      (주)포커스컴퍼니      CBS 기독교방송   20140324  20140325   940.0  39.0  40.4  20.6
1      (주)글로벌리서치     김황식 예비 후보자   20140406  20140406  1000.0  49.3  43.3   7.4
2      한국갤럽조사연구소  김황식 서울시장 예비후보   20140430  20140430  1007.0  50.5  37.9  11.6
3  (주) 메트릭스코퍼레이션            매일경제  20140503  20140505   600.0  49.3  37.0  13.7
4      (주)포커스컴퍼니       CBS 기독교방송  20140504  20140505   684.0  44.6  28.9  26.5

In [23]:
dfs_2014 = dfs_2014[['조사기관', '조사의뢰', '조사끝', '표본크기', '박원순', '정몽준', '무응답']]

In [24]:
dfs_2014.to_csv('./2014_seoul.csv')

# 2. 2014년 6월 부산시장

In [197]:
dfp_2014 = pd.read_excel('./raw_data/pusan_2014.xlsx')

In [198]:
dfp_2014 = dfp_2014.loc[2:]

In [199]:
dfp_2014.columns = ['id', '조사기간', '조사기관', '조사의뢰', '방법', '표본크기', '표본오차', '응답률', '서병수', '고창권', '오거돈', '기타 및 무응답']

In [200]:
dfp_2014.head()

,id,조사기간,조사기관,조사의뢰,방법,표본크기,표본오차,응답률,서병수,고창권,오거돈,기타 및 무응답
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,새누리당 서병수 \n[실제득표율 50.7%],통합진보당 고창권\n[5월 30일 사퇴],무소속 오거돈\n[실제득표율 49.3%],"기타, 무응답 등"
3,386,5.14~5.17,현대리서치연구소,JTBC,유·무선 전화면접+스마트폰 앱 (유·무선 RDD+스마트폰 앱 패널),1010,3.1,15,32,-,30.6,37.5
4,391,5.17,리얼미터,MBN,유선 전화면접 (유선 RDD),610,4,14,47.6,7.8,32.6,12
5,426,5.17~5.19,TNS KOREA,"KBS, MBC, SBS",유·무선 전화면접 (유·무선 RDD),814,3.4,11.9,39.6,5.3,34.2,20.9
6,512,5.19~5.20,케이에스리서치,일요서울,유선 ARS (KT DB),980,3.8,3.8,53.6,3.6,33.6,9.2

In [201]:
dfp_2014 = dfp_2014.loc[3:]

In [202]:
dfp_2014.head()

,id,조사기간,조사기관,조사의뢰,방법,표본크기,표본오차,응답률,서병수,고창권,오거돈,기타 및 무응답
3,386,5.14~5.17,현대리서치연구소,JTBC,유·무선 전화면접+스마트폰 앱 (유·무선 RDD+스마트폰 앱 패널),1010,3.1,15,32,-,30.6,37.5
4,391,5.17,리얼미터,MBN,유선 전화면접 (유선 RDD),610,4,14,47.6,7.8,32.6,12
5,426,5.17~5.19,TNS KOREA,"KBS, MBC, SBS",유·무선 전화면접 (유·무선 RDD),814,3.4,11.9,39.6,5.3,34.2,20.9
6,512,5.19~5.20,케이에스리서치,일요서울,유선 ARS (KT DB),980,3.8,3.8,53.6,3.6,33.6,9.2
7,483,5.20,중앙일보 조사연구팀,중앙일보,유·무선 전화면접 (유선 RDD+무선 RDD DB),800,3.46,35.3,38,3.3,38,20.7

In [203]:
dfp_2014 = dfp_2014[['조사기간', '조사기관', '조사의뢰', '표본크기', '응답률', '서병수', '고창권', '오거돈', '기타 및 무응답']]

In [204]:
dfp_2014.index = range(len(dfp_2014))

In [205]:
dfp_2014.head()

        조사기간        조사기관           조사의뢰  표본크기   응답률   서병수  고창권   오거돈 기타 및 무응답
0  5.14~5.17    현대리서치연구소           JTBC  1010    15    32    -  30.6     37.5
1       5.17        리얼미터            MBN   610    14  47.6  7.8  32.6       12
2  5.17~5.19   TNS KOREA  KBS, MBC, SBS   814  11.9  39.6  5.3  34.2     20.9
3  5.19~5.20     케이에스리서치           일요서울   980   3.8  53.6  3.6  33.6      9.2
4       5.20  중앙일보 조사연구팀           중앙일보   800  35.3    38  3.3    38     20.7

In [206]:
def find_end(x):
    strs = str(x).split('~')
    
    if len(strs) == 1:
        return strs[0]
    else:
        return strs[1]

In [207]:
dfp_2014['조사기간'] = dfp_2014['조사기간'].apply(lambda x: find_end(x))

In [208]:
dfp_2014.head()

   조사기간        조사기관           조사의뢰  표본크기   응답률   서병수  고창권   오거돈 기타 및 무응답
0  5.17    현대리서치연구소           JTBC  1010    15    32    -  30.6     37.5
1  5.17        리얼미터            MBN   610    14  47.6  7.8  32.6       12
2  5.19   TNS KOREA  KBS, MBC, SBS   814  11.9  39.6  5.3  34.2     20.9
3  5.20     케이에스리서치           일요서울   980   3.8  53.6  3.6  33.6      9.2
4  5.20  중앙일보 조사연구팀           중앙일보   800  35.3    38  3.3    38     20.7

In [209]:
dfp_2014 = dfp_2014.rename(columns={'조사기간': '조사끝'})

In [210]:
dfp_2014.head()

    조사끝        조사기관           조사의뢰  표본크기   응답률   서병수  고창권   오거돈 기타 및 무응답
0  5.17    현대리서치연구소           JTBC  1010    15    32    -  30.6     37.5
1  5.17        리얼미터            MBN   610    14  47.6  7.8  32.6       12
2  5.19   TNS KOREA  KBS, MBC, SBS   814  11.9  39.6  5.3  34.2     20.9
3  5.20     케이에스리서치           일요서울   980   3.8  53.6  3.6  33.6      9.2
4  5.20  중앙일보 조사연구팀           중앙일보   800  35.3    38  3.3    38     20.7

In [211]:
def clean_dash(x):
    if x == '-':
        return 0 
    else:
        return x

In [212]:
dfp_2014['고창권'] = dfp_2014['고창권'].apply(lambda x : clean_dash(x))

In [213]:
dfp_2014.head()

    조사끝        조사기관           조사의뢰  표본크기   응답률   서병수  고창권   오거돈 기타 및 무응답
0  5.17    현대리서치연구소           JTBC  1010    15    32  0.0  30.6     37.5
1  5.17        리얼미터            MBN   610    14  47.6  7.8  32.6       12
2  5.19   TNS KOREA  KBS, MBC, SBS   814  11.9  39.6  5.3  34.2     20.9
3  5.20     케이에스리서치           일요서울   980   3.8  53.6  3.6  33.6      9.2
4  5.20  중앙일보 조사연구팀           중앙일보   800  35.3    38  3.3    38     20.7

In [214]:
dfp_2014['기타 및 무응답'] = dfp_2014['기타 및 무응답'].apply(lambda x:float(x)) + dfp_2014['고창권'].apply(lambda x: float(x))

In [215]:
dfp_2014 = dfp_2014.rename(columns={'기타 및 무응답': '기타'})

In [216]:
del dfp_2014['고창권']

In [218]:
dfp_2014['조사끝'] = dfp_2014['조사끝'].apply(lambda x: str(140) + str(x.replace('.', '')))

In [219]:
dfp_2014.head()

      조사끝        조사기관           조사의뢰  표본크기   응답률   서병수   오거돈    기타
0  140517    현대리서치연구소           JTBC  1010    15    32  30.6  37.5
1  140517        리얼미터            MBN   610    14  47.6  32.6  19.8
2  140519   TNS KOREA  KBS, MBC, SBS   814  11.9  39.6  34.2  26.2
3  140520     케이에스리서치           일요서울   980   3.8  53.6  33.6  12.8
4  140520  중앙일보 조사연구팀           중앙일보   800  35.3    38    38  24.0

In [220]:
dfp_2014.to_csv('./clean_data/2014_pusan.csv')

# 3. 2018년 6월 경기도지사

In [244]:
dfk_2018 = pd.read_excel('./raw_data/kyunggi_2018.xlsx')

In [245]:
dfk_2018.head()

,[경기도],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
0,1. 경기도지사 선거,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,연번,조사일자,조사기관,조사의뢰자,조사방법(피조사자선정법),표본크기,표본오차,응답률,여론조사 결과,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,민주당 이재명,한국당 남경필,바른미대 김영환,정의당 이홍우,민중당 홍성규,기타,모름/무응답,NaN
3,4525,3.30~3.31,리서치뷰(가상대결),뉴시스,"가상번호(50%), RDD 유선(50%) ARS 자동응답조사",1000,3.1,3.2,60.9,22.4,3.2,NaN,NaN,NaN,13.6,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...
4,4553,4.2~4.3,타임리서치,중부일보,"유선 ARS 50 %, 무선 ARS 50 %",1005,3.1,4.4,60.78,22.7,NaN,NaN,NaN,NaN,16.6,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...

In [246]:
dfk_2018 = dfk_2018.loc[1:]

In [247]:
dfk_2018.head()

,[경기도],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12,Unnamed: 13,Unnamed: 14,Unnamed: 15
1,연번,조사일자,조사기관,조사의뢰자,조사방법(피조사자선정법),표본크기,표본오차,응답률,여론조사 결과,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,민주당 이재명,한국당 남경필,바른미대 김영환,정의당 이홍우,민중당 홍성규,기타,모름/무응답,NaN
3,4525,3.30~3.31,리서치뷰(가상대결),뉴시스,"가상번호(50%), RDD 유선(50%) ARS 자동응답조사",1000,3.1,3.2,60.9,22.4,3.2,NaN,NaN,NaN,13.6,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...
4,4553,4.2~4.3,타임리서치,중부일보,"유선 ARS 50 %, 무선 ARS 50 %",1005,3.1,4.4,60.78,22.7,NaN,NaN,NaN,NaN,16.6,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...
5,4576,4.6,한국사회여론연구소,경인일보,무선전화면접 77.1 %,1019,3.1,13.5,62.9,20.9,NaN,NaN,NaN,NaN,16.1,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...

In [248]:
dfk_2018.columns = ['id', '조사기간', '조사기관', '조사의뢰', '방법', '표본크기', '표본오차', '응답률', '이재명', '남경필', '김영환', '이홍우', '홍성규', '기타', '무응답', 'url']

In [249]:
dfk_2018.head()

,id,조사기간,조사기관,조사의뢰,방법,표본크기,표본오차,응답률,이재명,남경필,김영환,이홍우,홍성규,기타,무응답,url
1,연번,조사일자,조사기관,조사의뢰자,조사방법(피조사자선정법),표본크기,표본오차,응답률,여론조사 결과,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,민주당 이재명,한국당 남경필,바른미대 김영환,정의당 이홍우,민중당 홍성규,기타,모름/무응답,NaN
3,4525,3.30~3.31,리서치뷰(가상대결),뉴시스,"가상번호(50%), RDD 유선(50%) ARS 자동응답조사",1000,3.1,3.2,60.9,22.4,3.2,NaN,NaN,NaN,13.6,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...
4,4553,4.2~4.3,타임리서치,중부일보,"유선 ARS 50 %, 무선 ARS 50 %",1005,3.1,4.4,60.78,22.7,NaN,NaN,NaN,NaN,16.6,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...
5,4576,4.6,한국사회여론연구소,경인일보,무선전화면접 77.1 %,1019,3.1,13.5,62.9,20.9,NaN,NaN,NaN,NaN,16.1,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...

In [250]:
dfk_2018 = dfk_2018.loc[2:]

In [251]:
dfk_2018.head()

,id,조사기간,조사기관,조사의뢰,방법,표본크기,표본오차,응답률,이재명,남경필,김영환,이홍우,홍성규,기타,무응답,url
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,민주당 이재명,한국당 남경필,바른미대 김영환,정의당 이홍우,민중당 홍성규,기타,모름/무응답,NaN
3,4525,3.30~3.31,리서치뷰(가상대결),뉴시스,"가상번호(50%), RDD 유선(50%) ARS 자동응답조사",1000,3.1,3.2,60.9,22.4,3.2,NaN,NaN,NaN,13.6,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...
4,4553,4.2~4.3,타임리서치,중부일보,"유선 ARS 50 %, 무선 ARS 50 %",1005,3.1,4.4,60.78,22.7,NaN,NaN,NaN,NaN,16.6,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...
5,4576,4.6,한국사회여론연구소,경인일보,무선전화면접 77.1 %,1019,3.1,13.5,62.9,20.9,NaN,NaN,NaN,NaN,16.1,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...
6,4637,4.7~4.9,㈜이너텍시스템즈,KNS뉴스통신,유선 ARS 39 %. 무선 ARS 61 %,1050,3,1.3,59,24.4,NaN,1.7,0.6,NaN,14.2,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...

In [252]:
dfk_2018 = dfk_2018[['조사기간', '조사기관', '조사의뢰', '표본크기', '응답률', '이재명', '남경필', '김영환', '이홍우', '홍성규', '기타' , '무응답']]

In [253]:
dfk_2018 = dfk_2018.loc[3:]

In [254]:
dfk_2018.head()

,조사기간,조사기관,조사의뢰,표본크기,응답률,이재명,남경필,김영환,이홍우,홍성규,기타,무응답
3,3.30~3.31,리서치뷰(가상대결),뉴시스,1000,3.2,60.9,22.4,3.2,NaN,NaN,NaN,13.6
4,4.2~4.3,타임리서치,중부일보,1005,4.4,60.78,22.7,NaN,NaN,NaN,NaN,16.6
5,4.6,한국사회여론연구소,경인일보,1019,13.5,62.9,20.9,NaN,NaN,NaN,NaN,16.1
6,4.7~4.9,㈜이너텍시스템즈,KNS뉴스통신,1050,1.3,59,24.4,NaN,1.7,0.6,NaN,14.2
7,4.9~4.10,중앙일보 조사연구팀,중앙일보,800,18.5,58.5,17.6,2.8,0.7,0.9,NaN,19.7

In [255]:
dfk_2018['조사기간'] = dfk_2018['조사기간'].apply(lambda x: find_end(x))

In [256]:
dfk_2018 = dfk_2018.rename(columns={'조사기간': '조사끝'})

In [257]:
dfk_2018 = dfk_2018.loc[:20]

In [258]:
dfk_2018.index = range(len(dfk_2018))

In [259]:
dfk_2018.head()

,조사끝,조사기관,조사의뢰,표본크기,응답률,이재명,남경필,김영환,이홍우,홍성규,기타,무응답
0,3.31,리서치뷰(가상대결),뉴시스,1000,3.2,60.9,22.4,3.2,NaN,NaN,NaN,13.6
1,4.3,타임리서치,중부일보,1005,4.4,60.78,22.7,NaN,NaN,NaN,NaN,16.6
2,4.6,한국사회여론연구소,경인일보,1019,13.5,62.9,20.9,NaN,NaN,NaN,NaN,16.1
3,4.9,㈜이너텍시스템즈,KNS뉴스통신,1050,1.3,59,24.4,NaN,1.7,0.6,NaN,14.2
4,4.10,중앙일보 조사연구팀,중앙일보,800,18.5,58.5,17.6,2.8,0.7,0.9,NaN,19.7

In [260]:
dfk_2018 = dfk_2018.fillna(0)

In [261]:
dfk_2018['조사끝'] = dfk_2018['조사끝'].apply(lambda x: str(180) + str(x.replace('.', '')))

In [262]:
dfk_2018.head()

,조사끝,조사기관,조사의뢰,표본크기,응답률,이재명,남경필,김영환,이홍우,홍성규,기타,무응답
0,180331,리서치뷰(가상대결),뉴시스,1000,3.2,60.90,22.4,3.2,0.0,0.0,0.0,13.6
1,18043,타임리서치,중부일보,1005,4.4,60.78,22.7,0.0,0.0,0.0,0.0,16.6
2,18046,한국사회여론연구소,경인일보,1019,13.5,62.90,20.9,0.0,0.0,0.0,0.0,16.1
3,18049,㈜이너텍시스템즈,KNS뉴스통신,1050,1.3,59.00,24.4,0.0,1.7,0.6,0.0,14.2
4,180410,중앙일보 조사연구팀,중앙일보,800,18.5,58.50,17.6,2.8,0.7,0.9,0.0,19.7

In [263]:
dfk_2018['무응답'] = dfk_2018['김영환'] + dfk_2018['이홍우'] + dfk_2018['홍성규'] + dfk_2018['기타'] + dfk_2018['무응답']

In [264]:
del dfk_2018['이홍우']
del dfk_2018['홍성규']
del dfk_2018['기타']

In [265]:
del dfk_2018['김영환']

In [266]:
dfk_2018.head()

      조사끝        조사기관     조사의뢰  표본크기   응답률    이재명   남경필   무응답
0  180331  리서치뷰(가상대결)      뉴시스  1000   3.2  60.90  22.4  16.8
1   18043       타임리서치     중부일보  1005   4.4  60.78  22.7  16.6
2   18046   한국사회여론연구소     경인일보  1019  13.5  62.90  20.9  16.1
3   18049    ㈜이너텍시스템즈  KNS뉴스통신  1050   1.3  59.00  24.4  16.5
4  180410  중앙일보 조사연구팀     중앙일보   800  18.5  58.50  17.6  24.1

In [267]:
dfk_2018['조사끝'][7] = 180422

/Users/sailyourlife/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [268]:
dfk_2018

       조사끝        조사기관       조사의뢰  표본크기   응답률    이재명   남경필   무응답
0   180331  리서치뷰(가상대결)        뉴시스  1000   3.2  60.90  22.4  16.8
1    18043       타임리서치       중부일보  1005   4.4  60.78  22.7  16.6
2    18046   한국사회여론연구소       경인일보  1019  13.5  62.90  20.9  16.1
3    18049    ㈜이너텍시스템즈    KNS뉴스통신  1050   1.3  59.00  24.4  16.5
4   180410  중앙일보 조사연구팀       중앙일보   800  18.5  58.50  17.6  24.1
5   180414        리서치뷰        뉴시스  1000   2.7  51.50  27.2  21.3
6   180416  ㈜매트릭스코퍼레이션       매일경제   800  11.2  52.20  16.5  31.3
7   180422        리서치뷰        뉴시스  1000   2.6  56.80  24.8  18.4
8    18051   ㈜코리아리서치센터        MBC   801  15.6  50.90  15.5  33.6
9    18055        리얼미터        CBS   803   3.6  59.40  26.0  14.6
10  180512      ㈜한국리서치  KBS, 한국일보   800  16.1  56.90  17.0  26.1
11   18059        리얼미터       인천일보  1031   3.9  53.60  22.4  17.0
12  180527   한국사회여론연구소  한국사회여론연구소  1014  17.5  52.60  18.8  28.5
13  180528      조원씨앤아이       경기일보   801   3.9  60.40  26.4  13.2
14  180520  중앙일보 조사연구팀       중앙일보   803  17.8  53.30  21.1  22.3
15  180526      ㈜한국리서치        KBS   800  17.3  55.30  19.7  25.0
16  180529        리서치뷰        뉴시스  1000   2.9  53.80  30.6  15.6
17   18062        ㈜폴리컴       뉴데일리  1005   0.9  51.00  37.8  11.1

In [269]:
dfk_2018.to_csv('./2018_kyunggi.csv')

# 4. 2018년 6월 경남지사

In [77]:
dfn_2018 = pd.read_excel('./raw_data/kyungnam_2018.xlsx')

In [78]:
dfn_2018.head()

,[경남지사],Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,2. 경남지사 선거,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,연번,조사일자,조사기관,조사의뢰자,조사방법(피조사자선정법),표본크기,표본오차,응답률,여론조사 결과,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,민주당 김경수,한국당 김태호,기타,기타. 무응답,NaN
3,5353,6.2~6.4,조원씨앤아이,일요신문,유선전화면접 100 %,904,3.3,23.8,40.9,32.5,3.6,23,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...
4,5341,6.2~6.3,리얼미터,국제신문,"유선 ARS 40 %, 무선 ARS 10 %, 무선전화면접 50 %",806,3.5,6.3,53,32,2.7,12.3,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...

In [97]:
dfn_2018.columns = ['id', '조사기간', '조사기관', '조사의뢰', '방법', '표본크기', '표본오차', '응답률', '김경수', '김태호', '기타', '무응답', 'url']

In [98]:
dfn_2018.head()

,id,조사기간,조사기관,조사의뢰,방법,표본크기,표본오차,응답률,김경수,김태호,기타,무응답,url
0,2. 경남지사 선거,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,연번,조사일자,조사기관,조사의뢰자,조사방법(피조사자선정법),표본크기,표본오차,응답률,여론조사 결과,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,민주당 김경수,한국당 김태호,기타,기타. 무응답,NaN
3,5353,6.2~6.4,조원씨앤아이,일요신문,유선전화면접 100 %,904,3.3,23.8,40.9,32.5,3.6,23,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...
4,5341,6.2~6.3,리얼미터,국제신문,"유선 ARS 40 %, 무선 ARS 10 %, 무선전화면접 50 %",806,3.5,6.3,53,32,2.7,12.3,http://www.nesdc.go.kr/portal/bbs/B0000005/vie...

In [99]:
dfn_2018 = dfn_2018.loc[3:]

In [102]:
dfn_2018 = dfn_2018[['조사기간', '조사기관', '조사의뢰', '표본크기', '응답률', '김경수', '김태호', '기타' , '무응답']]

In [103]:
dfn_2018.head()

        조사기간        조사기관   조사의뢰 표본크기   응답률   김경수   김태호   기타   무응답
3    6.2~6.4      조원씨앤아이   일요신문  904  23.8  40.9  32.5  3.6    23
4    6.2~6.3        리얼미터   국제신문  806   6.3    53    32  2.7  12.3
5    6.2~6.3  ㈜매트릭스코퍼레이션    MBN  800  16.1  48.2  27.1  2.4  22.3
6  5.29~5.30        리얼미터  mbc경남  807   4.4  55.9  32.4  4.3   7.4
7  5.27~5.28        한국갤럽   JTBC  803  22.2  47.4  28.3  3.2  15.5

In [104]:
dfn_2018['조사기간'] = dfn_2018['조사기간'].apply(lambda x: find_end(x))

/Users/sailyourlife/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  """Entry point for launching an IPython kernel.

In [107]:
dfn_2018.index = range(len(dfn_2018))

In [108]:
dfn_2018.head()

   조사기간        조사기관   조사의뢰 표본크기   응답률   김경수   김태호   기타   무응답
0   6.4      조원씨앤아이   일요신문  904  23.8  40.9  32.5  3.6    23
1   6.3        리얼미터   국제신문  806   6.3    53    32  2.7  12.3
2   6.3  ㈜매트릭스코퍼레이션    MBN  800  16.1  48.2  27.1  2.4  22.3
3  5.30        리얼미터  mbc경남  807   4.4  55.9  32.4  4.3   7.4
4  5.28        한국갤럽   JTBC  803  22.2  47.4  28.3  3.2  15.5

In [110]:
dfn_2018 = dfn_2018.sort_values(by=['조사기간'])

In [111]:
dfn_2018.index = range(len(dfn_2018))

In [112]:
dfn_2018.head()

   조사기간        조사기관   조사의뢰 표본크기   응답률   김경수   김태호   기타   무응답
0  4.14  중앙일보 조사연구팀   중앙일보  800  23.8  38.8  26.8  1.8  32.7
1  4.14        리얼미터   부산일보  815   5.8  43.2  34.1  2.8  13.5
2  4.16  ㈜메트릭스코퍼레이션    MBN  800  14.2  36.6  24.1  2.5    37
3  4.18        리얼미터  MBC경남  802   6.7  49.3  34.3  7.9   8.5
4  4.23   한국갤럽조사연구소  JTBC   807  28.9  40.4  33.6  2.2  13.4

In [270]:
dfn_2018 = dfn_2018.rename(columns={'조사기간': '조사끝'})

In [271]:
dfn_2018['조사끝'] = dfn_2018['조사끝'].apply(lambda x: str(180) + str(x.replace('.', '')))

In [273]:
dfn_2018.head()

      조사끝        조사기관   조사의뢰 표본크기   응답률   김경수   김태호   기타   무응답
0  180414  중앙일보 조사연구팀   중앙일보  800  23.8  38.8  26.8  1.8  32.7
1  180414        리얼미터   부산일보  815   5.8  43.2  34.1  2.8  13.5
2  180416  ㈜메트릭스코퍼레이션    MBN  800  14.2  36.6  24.1  2.5    37
3  180418        리얼미터  MBC경남  802   6.7  49.3  34.3  7.9   8.5
4  180423   한국갤럽조사연구소  JTBC   807  28.9  40.4  33.6  2.2  13.4

In [274]:
dfn_2018['무응답'] = dfn_2018['기타'] + dfn_2018['무응답']

In [275]:
dfn_2018.to_csv('./2018_kyungnam.csv')